.sidebar{
    height: 100vh;
    flex:0.2;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
}
.sidebar > hr{
    border:1px solid gray;
    width:90% ;
    margin:10px auto

}
.sidebar__logo{
    height: 70px;
    margin-right: auto;
    padding: 10px;
}
.sidebartitle{
    color:white;
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}